<mat-toolbar class="header-toolbar">
    <!-- LEFT -->
    <div class="left-section">
        <button mat-icon-button (click)="toggleSidebar()" matTooltip="Main Menu">
            <span class="material-icons-outlined">menu</span>
        </button>
        <img *ngIf="headerTitle === 'Keep'" src="assets/keep.png" alt="Logo" class="logo" />
        <span class="keep-title">{{headerTitle}}</span>
    </div>

    <!-- CENTER (Search) -->
    <div class="search-section">
        <span class="material-icons-outlined">search</span>
        <input matInput placeholder="Search notes" [(ngModel)]="searchText" (input)="onSearch()" />
        <span class="material-icons-outlined clear-icon" *ngIf="searchText" (click)="clearSearch()"
            matTooltip="Clear">close</span>
    </div>

    <!-- RIGHT -->
    <div class="right-section">
        <div class="icon-group">
            <span *ngIf="!isRefreshing" class="material-icons-outlined icon" (click)="refreshNotes()"
                matTooltip="Refresh">refresh</span>
            <mat-spinner *ngIf="isRefreshing" diameter="24" strokeWidth="3" class="refresh-spinner"></mat-spinner>
            <span class="material-icons-outlined icon" *ngIf="!isGridView" matTooltip="List view" (click)="switchView()">view_agenda</span>
            <span class="material-icons-outlined icon" *ngIf="isGridView" matTooltip="Grid view" (click)="switchView()">view_comfy_alt</span>
            <span class="material-icons-outlined icon" matTooltip="Settings">settings</span>
        </div>
        <span class="spacer"></span>
        <span class="material-icons-outlined icon" matTooltip="Google apps">apps</span>
        <div class="account-container" (click)="toggleAccountMenu()">
            <button mat-icon-button [matTooltip]="'Google Account'">
                <span class="material-icons-outlined">account_circle</span>
            </button>

            <div class="logout-menu" *ngIf="isAccountMenuOpen">
                <button class="logout-button" (click)="logout($event)">Logout</button>
            </div>
        </div>
    </div>
</mat-toolbar>

<!-- MAIN BODY -->
<div class="main-container">
    <!-- SIDENAV -->
    <div class="sidenav" [class.collapsed]="!isSidebarOpen">
        <mat-nav-list class="side-nav">
            <a mat-list-item routerLink="/dashboard/" routerLinkActive="active-link">
                <span class="material-icons-outlined nav-icon">lightbulb</span>
                <span class="nav-text">Notes</span>
            </a>
            <a mat-list-item routerLink="/dashboard/reminders" routerLinkActive="active-link">
                <span class="material-icons-outlined nav-icon">notifications</span>
                <span class="nav-text">Reminders</span>
            </a>
            <div *ngFor="let label of labels">
                <a mat-list-item [routerLink]="['/dashboard/label', label.id || label.labelId]" routerLinkActive="active-link">
                    <span class="material-icons-outlined nav-icon">label</span>
                    <span class="nav-text">{{label.labelName}}</span>
                </a>
            </div>
            <a mat-list-item (click)="openDialog($event)">
                <span class="material-icons-outlined nav-icon">edit</span>
                <span class="nav-text">Edit labels</span>
            </a>
            <a mat-list-item routerLink="/dashboard/archive" routerLinkActive="active-link">
                <span class="material-icons-outlined nav-icon">archive</span>
                <span class="nav-text">Archive</span>
            </a>
            <a mat-list-item routerLink="/dashboard/trash" routerLinkActive="active-link">
                <span class="material-icons-outlined nav-icon">delete</span>
                <span class="nav-text">Bin</span>
            </a>
        </mat-nav-list>
    </div>

    <app-modal [isVisible]="showModal" (close)="showModal = false">
        <app-edit></app-edit>
    </app-modal>

    <!-- MAIN CONTENT -->
    <div class="content" [ngStyle]="{'margin-left': isSidebarOpen ? '0' : '0'}">
        <!-- <app-notes></app-notes>
        <app-archive></app-archive> -->
        <router-outlet></router-outlet>
    </div>

</div>