<!-- FIXED HEADER -->
<mat-toolbar color="primary" class="header-toolbar">
    <!-- LEFT -->
    <div class="left-section">
        <button mat-icon-button (click)="toggleSidebar()" matTooltip="Main Menu">
            <span class="material-icons-outlined">menu</span>
        </button>
        <img src="assets/keep.png" alt="Logo" class="logo" />
        <span class="keep-title">Keep</span>
    </div>

    <!-- CENTER (Search) -->
    <div class="search-section">
        <span class="material-icons-outlined">search</span>
        <input matInput placeholder="Search notes" [(ngModel)]="searchText" (input)="onSearchChange()" />
        <span class="material-icons-outlined clear-icon" *ngIf="searchText" (click)="clearSearch()"
            matTooltip="Clear">close</span>
    </div>

    <!-- RIGHT -->
    <div class="right-section">
        <div class="icon-group">
            <span class="material-icons-outlined icon" matTooltip="Refresh">refresh</span>
            <span class="material-icons-outlined icon" matTooltip="List view">view_agenda</span>
            <span class="material-icons-outlined icon" matTooltip="Settings">settings</span>
        </div>
        <span class="spacer"></span>
        <span class="material-icons-outlined icon" matTooltip="Google apps">apps</span>
        <div class="account-container" (click)="toggleAccountMenu()">
            <button mat-icon-button [matTooltip]="'Google Account'">
                <span class="material-icons-outlined">account_circle</span>
            </button>

            <div class="logout-menu" *ngIf="isAccountMenuOpen">
                <button class="logout-button" (click)="logout($event)">Logout</button>
            </div>
        </div>
    </div>
</mat-toolbar>

<!-- MAIN BODY -->
<div class="main-container">
    <!-- SIDENAV -->
    <div class="sidenav" [class.collapsed]="!isSidebarOpen">
        <mat-nav-list>
            <a mat-list-item class="nav-link tooltip-hover" *ngFor="let nav of navItems"
                [attr.data-tooltip]="!isSidebarOpen ? nav.label : null">
                <span class="material-icons-outlined" matListIcon>{{ nav.icon }}</span>
                <span class="nav-label" *ngIf="isSidebarOpen">{{ nav.label }}</span>
            </a>
        </mat-nav-list>
    </div>

    <!-- MAIN CONTENT -->
    <div class="content">
        <app-create-note (noteCreated)="addNote($event)"></app-create-note>
        <app-display-note [refreshTrigger]="refreshTrigger"></app-display-note>
    </div>
    <router-outlet></router-outlet>
</div>